.nav {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.nav::-webkit-scrollbar {
  width: 0;
  opacity: 0;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.nav:hover::-webkit-scrollbar {
  width: 7px;
  opacity: 1;
}

.nav::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 7px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.nav:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}